!!!
%html
  %head
    %title My Sinatra Website
    %link{:rel => "stylesheet", :href => "/css/bower.css"}
    != css :app
    %body
      %h1 Welcome
      %p
        Welcome to my website made with Sinatra and HAML
        - if @graph == nil
          %a{:href => "/sign_in" }
            login
        - else
          %p
            #{@me['name']}
            %a{:href => "/sign_out" }
              logout
     
      %script{ :src => "/js/bower.js" }
      != js :app
