!!!
%html
  %head
    %title Social Timecard 
    %link{:rel => "stylesheet", :href => "/css/bower.css"}
    != css :app
    %body
      %div{:class => "jumbotron"}
        %div{:class => "container"}
          - if @graph == nil
            %p
              Social TimecardはどこかにIn/Outしたことをお友達に使えるシンプルなアプリです。
              まずはfacebookでログインしてね！
            %a{:href => "/sign_in", :class => 'btn btn-default' }
              Signin with Facebook
          - else
            %h1 Welcome #{@me['name']}
            %a{:href => "/sign_out", :class => 'btn btn-default'}
              logout
      %div{:class => 'container'}
        %div{:class => 'row'}
          %div{:class => 'col-md-6'}  
            %a{:href => "#", :class => 'btn btn-primary btn-lg inbtn'}
              In    
          %div{:class => 'col-md-6'}
            %a{:href => "#", :class => 'btn btn-primary btn-lg outbtn'}
              Out 
      %script{ :src => "/js/bower.js" }
      != js :app
