!!!
%html
  %head
    %title My Sinatra Website
    != css :app
    != js :app
    %body
      %h1 Welcome
      %p
        Welcome to my website made with Sinatra and HAML
        - if @graph == nil
          %a{:href => "/sign_in" }
            login
        - else
          %p
            #{@me['name']}
            %a{:href => "/sign_out" }
              logout
