!!!
%html
  %head
    %title My Sinatra Website
    %link{rel:"stylesheet", href:stylesheet_path("application")}
    /[if lt IE 9]
      %script{src:javascript_path("html5shiv/dist/html5shiv")}
    %body
      %h1 Welcome
      %p
        Welcome to my website made with Sinatra and HAML
        - if @graph == nil
          %a{:href => "/sign_in" }
            login
        - else
          %p
            #{@me['name']}
            %a{:href => "/sign_out" }
              logout
      
      %script{src:javascript_path("application")}
